html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

div {
  display: block;
  border: 1px white solid;
  margin: auto;
}

body {
  position: relative;
  top: 69px;
  text-align: center;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom: 1pz solid seashell;
  background-color: black;
  z-index: 1;
}

header img {
  height: 50px;
  padding: 0 10px;
}

nav a {
  padding: 10px;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

h2.black, h4 {
  margin: 0 auto;
  padding: 10px 0;
  background-color: black;
  width: 100%;
}

#mission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg');
  margin: 0 auto;
  height: 700px;
  width: 1200px;
}

#featured {
  display: flex:
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

.icon {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1000px;
}

figure img {
  margin: 0 auto;
  width: 300px;
  height: 200px;
}

figure {
  padding: 5px;
  margin: 0;
}

figcaption {
  width: 300px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

#locations {
  padding-top: 60px;
  height: 500px;
  width: 1200px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg');
}

#locations h2 {
  padding: 15px;
  margin: 0;
  width: 1200px;
}

.addresses {
  display: inline-flex;
  flex-direction: row;
  justify-content: center
}

.box {
  background-color: black;
  width: 300px;
  height: auto;
  margin: 0 20px;
}

h3, p {
  margin: 0 auto;
  padding: 20px;
}
