html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

div {
  display: block;
}

header {
  display: flex;
  justify-content: space-between;
  height: 69px;
  position: fixed;
  border-bottom: 1pz solid seashell;
}

header img {
  height: 50px;
  padding: 10px;
}
